<footer class="flex flex-row justify-around py-4 bg-slate-800/30">
    <div class="flex flex-col items-center justify-center">
        <div class="w-16 h-fit">
            <img src="assets/profile-pictures/logo.webp" alt="Spectra Logo" />
        </div>
        <small class="">&copy; 2025 Purple Shark</small>
        <a class="no-underline text-gray-500" href="./imprint">Imprint</a>
    </div>
    <div class="flex flex-col justify-center text-center">
        <h5 class="font-bold text-lg">GitHub Repositories</h5>
        <a class="no-underline text-gray-500" href="https://github.com/ValoSpectra/Spectra-Website">Website</a>
        <a class="no-underline text-gray-500" href="https://github.com/ValoSpectra/Spectra-Client">Client</a>
        <a class="no-underline text-gray-500" href="https://github.com/ValoSpectra/Spectra-Server">Server</a>
        <a class="no-underline text-gray-500" href="https://github.com/ValoSpectra/Spectra-Frontend">Overlay</a>
    </div>
    <div class="flex flex-col justify-center text-center">
        <h5 class="font-bold text-lg">Feedback/Questions</h5>
        <a class="no-underline text-gray-500" href="https://discord.gg/nWWXqqK6tz">Discord</a>
        <a class="no-underline text-gray-500" href="https://github.com/orgs/ValoSpectra/repositories">GitHub Issues</a>
    </div>
</footer>