<footer class="flex flex-row justify-around py-4 bg-slate-800/30">
  <div class="flex flex-col items-center justify-center">
    <div class="w-16 h-fit">
      <img src="assets/profile-pictures/logo.webp" alt="Spectra Logo" />
    </div>
    <small class="">&copy; 2025 Purple Shark</small>
  </div>
  <div class="flex flex-col justify-center text-center">
    <h5 class="font-bold text-lg">GitHub Repositories</h5>
    <a class="no-underline text-gray-500" href="https://github.com/ValoSpectra/Spectra-Website"
      >Website</a
    >
    <a class="no-underline text-gray-500" href="https://github.com/ValoSpectra/Spectra-Client"
      >Client</a
    >
    <a class="no-underline text-gray-500" href="https://github.com/ValoSpectra/Spectra-Server"
      >Server</a
    >
    <a class="no-underline text-gray-500" href="https://github.com/ValoSpectra/Spectra-Frontend"
      >Overlay</a
    >
  </div>
  <div class="flex flex-col justify-center text-center w-1/7">
    Spectra isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or
    anyone officially involved in producing or managing Riot Games properties. Riot Games, and all
    associated properties are trademarks or registered trademarks of Riot Games, Inc.
  </div>
  <div class="flex flex-col justify-center text-center">
    <h5 class="font-bold text-lg">Feedback/Questions</h5>
    <a class="no-underline text-gray-500" href="https://discord.gg/nWWXqqK6tz">Discord</a>
    <a class="no-underline text-gray-500" href="https://github.com/orgs/ValoSpectra/repositories"
      >GitHub Issues</a
    >
  </div>
  <div class="flex flex-col justify-center text-center">
    <h5 class="font-bold text-lg">Legal</h5>
    <a class="no-underline text-gray-500" href="/legal/privacy-policy">Privacy Policy</a>
    <a class="no-underline text-gray-500" href="/legal/terms-of-service">Terms of Service</a>
    <a class="no-underline text-gray-500" href="/legal/acceptable-use">Acceptable Use Policy</a>
    <a class="no-underline text-gray-500" href="/legal/imprint">Imprint</a>
  </div>
</footer>
