<nav #nav id="nav"
    class="bg-gray-900 w-full h-12 flex flex-row justify-center items-center border-b border-gray-400 to_animate">
    <a href="./" class="text-white/55 p-2 mx-20 text-xl hover:text-white/80">
        <img height="28px" width="28px" src="assets/profile-pictures/logo.webp" alt="Spectra Logo" />
    </a>
    <a href="./live-demo" class="text-white/55 p-2 mx-12 text-xl hover:text-white/80">Demo</a>
    <a href="https://discord.gg/nWWXqqK6tz" target="_blank"
        class="text-white/55 p-2 mx-12 text-xl hover:text-white/80">Discord</a>
    <a href="https://github.com/orgs/ValoSpectra/repositories" target="_blank"
        class="text-white/55 p-2 mx-12 text-xl hover:text-white/80">GitHub</a>
    <a href="./download" class="text-white/55 p-2 mx-12 text-xl hover:text-white/80">Client Download</a>
    <a href="./credits" class="text-white/55 p-2 mx-12 text-xl hover:text-white/80">Credits</a>
</nav>