<app-page-header imageSrc="assets/backgrounds/credits_background.webp" title="Imprint"></app-page-header>
<app-spacer></app-spacer>
<app-content-section>
    <ng-template #content>
        <div class="flex flex-row gap-12 w-3/5 justify-center">
            <div class="flex flex-col gap-1 justify-center content-start text-start w-full">
                <h3 class="text-3xl font-bold mb-2">Information according to §5 TMG</h3>
                <p class="text-2xl font-light">Purple Shark UG (haftungsbeschränkt)</p>
                <p class="text-2xl font-light">Hessenlauweg 14</p>
                <p class="text-2xl font-light">D-70569 Stuttgart</p>

                <h3 class="text-3xl font-bold mt-4 mb-2">Contact</h3>
                <p class="text-2xl font-light">E-Mail: admin&commat;purpleshark.de</p>

                <h3 class="text-3xl font-bold mt-4 mb-2">CEO</h3>
                <p class="text-2xl font-light">Nils Blömeke</p>
                <p class="text-2xl font-light">Registergericht Amtsgericht Stuttgart</p>
                <p class="text-2xl font-light">Registernummer HRB 799577</p>

                <h3 class="text-3xl font-bold mt-4 mb-2">Image Rights</h3>
                <p class="text-2xl font-light">by Purple Shark UG (haftungsbeschränkt)</p>
            </div>
        </div>
    </ng-template>
</app-content-section>