<app-page-header title="Credits" subtitle="The people that brought Spectra to life"
    imageSrc="/assets/backgrounds/credits_background.webp"></app-page-header>

<app-spacer></app-spacer>

<!-- Dunkel -->
<app-content-section>
    <ng-template #content>
        <div class="flex flex-row gap-24 w-3/5 justify-center">
            <div class="flex flex-col gap-2 justify-center content-end text-end w-1/2">
                <h3 class="text-4xl font-bold mb-2">Dunkel</h3>
                <p class="text-2xl font-light">Maintainer</p>
                <p class="text-2xl font-light">Development</p>
                <p class="text-2xl font-light">Hosting</p>
                <a href="https://github.com/DarkView" target="_blank" class="mt-4">
                    <p-button label="GitHub" severity="primary" />
                </a>
            </div>
            <div class="w-1/2 flex flex-col justify-center">
                <img class="w-7/10 h-auto rounded-full" src="assets/profile-pictures/dunkel.webp"
                    alt="Dunkel's profile picture" />
            </div>
        </div>
    </ng-template>
</app-content-section>

<app-spacer></app-spacer>

<!-- Tiranthine -->
<app-content-section>
    <ng-template #content>
        <div class="flex flex-row gap-24 w-3/5 justify-center">
            <div class="w-1/2 flex flex-col justify-center items-end">
                <img class="w-7/10 h-auto rounded-full" src="assets/profile-pictures/tiranthine.webp"
                    alt="Tiranthine's profile picture" />
            </div>
            <div class="flex flex-col gap-2 justify-center content-start text-start w-1/2">
                <h3 class="text-4xl font-bold mb-2">Tiranthine</h3>
                <p class="text-2xl font-light">Maintainer</p>
                <p class="text-2xl font-light">Development</p>
                <p class="text-2xl font-light">Frontend</p>
                <a href="https://github.com/Tiranthine" target="_blank" class="mt-4">
                    <p-button label="GitHub" severity="primary" />
                </a>
            </div>
        </div>
    </ng-template>
</app-content-section>

<app-spacer></app-spacer>

<!-- Brendan -->
<app-content-section>
    <ng-template #content>
        <div class="flex flex-row gap-24 w-3/5 justify-center">
            <div class="flex flex-col gap-2 justify-center content-end text-end w-1/2">
                <h3 class="text-4xl font-bold mb-2">Brendan</h3>
                <p class="text-2xl font-light">Overlay Design</p>
            </div>
            <div class="w-1/2 flex flex-col justify-center">
                <img class="w-7/10 h-auto rounded-full" src="assets/profile-pictures/brendan.webp"
                    alt="Brendan's profile picture" />
            </div>
        </div>
    </ng-template>
</app-content-section>

<app-spacer></app-spacer>

<!-- Nooda -->
<app-content-section>
    <ng-template #content>
        <div class="flex flex-row gap-24 w-3/5 justify-center">
            <div class="w-1/2 flex flex-col justify-center items-end">
                <img class="w-7/10 h-auto rounded-full" src="assets/profile-pictures/nooda.webp"
                    alt="noodabooda's profile picture" />
            </div>
            <div class="flex flex-col gap-2 justify-center content-start text-start w-1/2">
                <h3 class="text-4xl font-bold mb-2">noodabooda</h3>
                <p class="text-2xl font-light">Overlay Design</p>
                <p class="text-2xl font-light">Icon Design</p>
            </div>
        </div>
    </ng-template>
</app-content-section>

<app-spacer></app-spacer>

<!-- Hooj -->
<app-content-section>
    <ng-template #content>
        <div class="flex flex-row gap-24 w-3/5 justify-center">
            <div class="flex flex-col gap-2 justify-center content-end text-end w-1/2">
                <h3 class="text-4xl font-bold mb-2">Woohoojin</h3>
                <p class="text-2xl font-light">Sponsor</p>
                <a href="https://www.youtube.com/@Woohoojin" target="_blank" class="mt-4">
                    <p-button label="YouTube" severity="primary" />
                </a>
            </div>
            <div class="w-1/2 flex flex-col justify-center">
                <img class="w-7/10 h-auto rounded-full" src="assets/profile-pictures/hooj.webp"
                    alt="Woohoojin's profile picture" />
            </div>
        </div>
    </ng-template>
</app-content-section>

<app-spacer></app-spacer>

<!-- Overwolf -->
<app-content-section>
    <ng-template #content>
        <div class="flex flex-row gap-24 w-3/5 justify-center">
            <div class="w-1/2 flex flex-col justify-center items-end">
                <img class="w-7/10 h-auto rounded-full" src="assets/profile-pictures/overwolf.webp"
                    alt="Overwolf logo" />
            </div>
            <div class="flex flex-col gap-2 justify-center content-start text-start w-1/2">
                <h3 class="text-4xl font-bold mb-2">Overwolf</h3>
                <p class="text-2xl font-light">Data Engine</p>
                <p class="text-2xl font-light">Support</p>
                <a href="https://www.overwolf.com" target="_blank" class="mt-4">
                    <p-button label="Website" severity="primary" />
                </a>
            </div>
        </div>
    </ng-template>
</app-content-section>